body {
    line-height: 1.5;
}
.container {
    width: min(1296px, 100% - 72px);
    margin-inline: auto;
}
@media screen and (max-width: 576px){
    .container {
        width: min(1296px, 100% - 24px);
    }
}
.d-block {
    display: block;
}
// Flex
.d-flex {
    display: flex;
}
@media screen and (max-width: 768px){
    .d-flex {
        flex-wrap: wrap;
    }
}
.flex-colomn {
    flex-direction: column;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.border-top-white {
    border-top: 1px solid $white;
}
// Text
.h1 {
    font-size: 4rem;
    font-weight: bold;
}
.h2 {
    font-size: 3rem;
    font-weight: bold;
}
.h3 {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
}
.h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
.h5 {
    font-size: 1.5rem;
    font-weight: normal;
}
@media screen and (max-width: 576px){
	.h1,.h2 {
        font-size: 1.5rem;
    }
 }

.text-primary {
    color: $primary-color;
}
.text-primary-dark {
    color: $primary-dark;
}
.text-white {
    color: $white;
}
.text-black {
    color: $black;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-medium {
    font-weight: 500;
}
// Margin
.mx-auto {
    margin-inline: auto;
}
.ms-auto {
    margin-left: auto;
}
.mt-auto {
    margin-top: auto;
}
.me-2 {
    margin-right: $margin*2;
}
.me-5 {
    margin-right: $margin*5;
}
.me-6 {
    margin-right: $margin*6;
}
.me-8 {
    margin-right: $margin*8;
}
.mb-1 {
    margin-bottom: $margin*1;
}
.mb-2 {
    margin-bottom: $margin*2;
}
.mb-4 {
    margin-bottom: $margin*4;
}
.mb-6 {
    margin-bottom: $margin*6;
}
.mb-8 {
    margin-bottom: $margin*8;
}
.mb-12 {
    margin-bottom: $margin*12;
}
.mb-18 {
    margin-bottom: $margin*18;
}
@media screen and (max-width: 576px){
	.mb-12 {
        margin-bottom: $margin*6;
    }
    .mb-sm-2 {
        margin-bottom: $margin*2;
    }
 }
// Padding
.pt-12 {
    padding-top: $padding*12;
}
.py-8 {
    padding-top: $padding*8;
    padding-bottom: $padding*8;
}
.py-20 {
    padding-top: $padding*20;
    padding-bottom: $padding*20;
}
.py-lg-6 {
    padding-block: $padding*6;
}
@media screen and (max-width: 576px){
	.py-20 {
        padding-top: $padding*10;
        padding-bottom: $padding*10;
    }
    .py-lg-6 {
        padding-block: 0;
    }
    .py-md-4 {
        padding-block: $padding*4;
    }
 }
 .w-100 {
    width: 100%;
 }