.productPage{
	section {
		img {
			display: block;
			margin-inline: auto;
		}
		.row{
			margin-inline: -12px;
		}
		.card-img {
			max-width: 100%;
		}	
		.card-item {
			height: 100%;
		}
	}
}
.sub-nav {
    .colomn {
        width: 33.3%;
    }
    .nav-item {
        a {
            font-size: 2rem;
            font-weight: 500;
            border-left: 1px solid $light-grey;
            border-right: 1px solid $light-grey;
            position: relative;
            &.active::after {
               content: '';
               display: block;
               width: 100%;
               height: 8px;
               background-color: $primary-color;
               position: absolute;
               bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .sub-nav {
        .container {
            width: 100%;
        }
        .nav-item {
            a {
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width: 576px){
    .sub-nav {
        .nav-item {
            a {
                font-size: 1rem;
            }
        }
    }
}

.banner {
    .d-flex {
        flex-wrap: nowrap;
    }
    picture {
        width: 50%;
    }
}
.product-list {
    a {
        color: $black;
    }
    .d-flex {
        flex-wrap: wrap;
    }
    .h2-en {
        font-size: 2.625rem;
        font-weight: 500;
    }
    .h2-tc {
        font-size: 2rem;
    }
    .card-item {
        font-size: 1.5rem;
        margin-bottom: $margin*20;
    }
    .decor {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 0.25rem;
        &.decor-1 {
            background-color: $decor-color-1;
        }
        &.decor-2 {
            background-color: $decor-color-2;
        }
    }
}
@media screen and (max-width: 768px){
    .product-list {
        .colomn {
            width: 50%;
        }
    }
}
@media screen and (max-width: 576px){
    .product-list {
        .colomn {
            width: 100%;
        }
        .h2-en {
            font-size:1.5rem;
        }
        .h2-tc {
            font-size: 1.5rem;
        }
        .card-item {
            margin-bottom: $margin*6;
        }
    }
}
