<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
		<title>OPTICAL</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<!-- sub選單 -->
		<nav class="sub-nav">
			<div class="container">
				<ul class="d-flex">
					<li class="colomn">
						<div class="nav-item"><a class="w-100 text-center d-block text-black py-lg-6 py-md-4 active" href="optical.html">OPTICAL</a></div>
					</li>
					<li class="colomn">
						<div class="nav-item"><a class="w-100 text-center d-block text-black py-lg-6 py-md-4" href="sunglasses.html">SUNGLASSES</a></div>
					</li>
					<li class="colomn">
						<div class="nav-item"><a class="w-100 text-center d-block text-black py-lg-6 py-md-4" href="#">FUNCTIONAL</a></div>
					</li>
				</ul>
			</div>
		</nav>
		<main class="optical productPage">
			<!-- banner -->
			<section class="banner d-flex">
				<picture>
					<source srcset="../assets/images/product-header-sm-1.png" media="(max-width: 768px)" />
					<img class="card-img" src="../assets/images/product-header-1.png" alt="glasses" />
				</picture>
				<picture>
					<source srcset="../assets/images/product-header-sm-2.png" media="(max-width: 768px)" />
					<img class="card-img" src="../assets/images/product-header-2.png" alt="woman with glasses" />
				</picture>
			</section>
			<!-- product list -->
			<section class="product-list py-20">
				<div class="container">
					<h2 class="h2-en text-center">Celluloid Combi</h2>
					<h2 class="h2-tc text-center mb-8">賽璐珞鈦金屬混合鏡框</h2>
					<ul class="card-list d-flex row">
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-1.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-2.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-3.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-4.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-5.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-6.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-1.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-2.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-3.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-4.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-5.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
						<li class="colomn">
							<div class="card-item">
								<a href="#">
									<img src="../assets/images/product-6.png" alt="product" class="card-img">
									<div class="d-flex justify-content-between">
										<h5 class="h5">BJ41600S</h5>
										<p class="text-primary text-medium">NTD3,490</p>
									</div>
									<div class="d-flex">
										<div class="decor decor-1 me-2"></div>
										<div class="decor decor-2"></div>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<%- include('./layout/pagination'); -%>
				</div>
			</section>
		</main>
		
		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
